/* Tippografia */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300&family=Playfair+Display:wght@400;500;700&display=swap');

/* Elementos raiz */
:root{
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --pink: rgb(255, 0, 108);
}

/* Globales */
html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
} 

*{
    margin: 0;
	padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .sin-contenedor{
        max-width: 120rem;
        width: 100%;
        margin: 0 auto;
    }
}

/* Encabezados */
h1{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
h2{
    font-size: 1.5rem;
    font-weight: 300;
}
  
h3{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}
  
h4{
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

/* Parrafos */
.parrafo,
p{
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--black);
  line-height: auto;
}

/* Subtitulo */
.subtitulo{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}

/* Adjuntos */
.a-blanco,
.a-blanco:link,
.a-blanco:visited,
.a-blanco:active{
  text-decoration: none;
  color: var(--white);
}

.a-blanco:hover{
    font-weight: 700;
    color: var(--pink);
}

.a-negro-decoracion,
.a-negro-decoracion:link,
.a-negro-decoracion:visited,
.a-negro-decoracion:active{
    text-decoration-color: var(--black);
    color: var(--black);
}

.a-negro-decoracion:hover{
    text-decoration: var(--pink);
    font-weight: 700;
    color: var(--pink);
}

.a-pink{
    text-decoration: none;
    color: var(--pink);
}

.a-pink:hover{
    text-decoration: none;
    color: var(--pink);
    font-weight: 700;
}

.a-none,
.a-none:link,
.a-none:visited,
.a-none:active{
  text-decoration: none;
}

/* UL */
ul{
    list-style-position: inside;
}

/* bg */
.bg-black{
    background-color: var(--black);
}

/* Centrar */
.text-center{
    text-align: center;
}

/* Padding */
.pd-botton{
    padding-bottom: 2rem;
}

.pd-top-dos{
    padding-top: 2rem;
}
.pd-dos-cero{
    padding: 2rem 0;
}

.pd-right-dos{
    padding-right: 2rem;
}

/* Botones */
.boton{
    color: var(--white);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
    border: none;
    text-decoration: none;
    background-color: var(--pink);
}

    .boton:hover{
        cursor: pointer;
    }

    .boton-primario,
    .boton-terciario{
        display: block;
    }

    .boton-secundario{
        display: inline;
        width: 30%;
    }

@media (min-width: 768px) {
    .boton-primario{
        width: 50%;
        margin: 0 auto;
    }
}

/* Input */
.input{
    color: var(--black);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    border: none;
    text-decoration: none;
    background-color: var(--white);
}

    .input-primario{
        display: inline;
        width: 60%;
    }




/* Grids areas */
.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

.aside{
    grid-area: aside;
}

.tendencias-imagen{
    grid-area: tendencias-imagen;
}

.referencia{
    grid-area: referencia;
}

.aprender{
    grid-area: aprender;
}

.titulo{
    grid-area: titulo;
}

.uno{
    grid-area: uno;
}

.dos{
    grid-area: dos;
}

.tres{
    grid-area: tres;
}

.cuatro{
    grid-area: cuatro;
}

.cinco{
    grid-area: cinco;
}

.seis{
    grid-area: seis;
}

.siete{
    grid-area: siete;
}

.ocho{
    grid-area: ocho;
}

.nueve{
    grid-area: nueve;
}

.diez{
    grid-area: diez;
}

.once{
    grid-area: once;
}

.doce{
    grid-area: doce;
}

.trece{
    grid-area: trece;
}

.catorce{
    grid-area: catorce;
}

.img-uno{
    grid-area: img-uno;
}

.img-dos{
    grid-area: img-dos;
}

.img-tres{
    grid-area: img-tres;
}

.img-cuatro{
    grid-area: img-cuatro;
}

.img-cinco{
    grid-area: img-cinco;
}

.img-seis{
    grid-area: img-seis;
}

.img-siete{
    grid-area: img-siete;
}

/* Contenedores */

/* Contenedor index */
.contenedor-uno{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "main"
        "tendencias-imagen"

        "uno"
        "img-uno"
        "dos"

        "tres"
        "img-dos"
        "cuatro"

        "cinco"
        "img-tres"
        "seis"

        "siete"
        "img-cuatro"
        "ocho"

        "nueve"
        "img-cinco"
        "diez"

        "once"
        "img-seis"
        "doce"

        "trece"
        "img-siete"
        "catorce"

        "referencia"
        "aprender"
        "footer";
}

@media (min-width: 768px) {
    .contenedor-uno{
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: auto;
        grid-template-areas: "header header header header"
                            ". main main ."
                            "tendencias-imagen tendencias-imagen tendencias-imagen tendencias-imagen"

                            ". img-uno uno ."
                            ". img-uno dos ."

                            ". img-dos tres ."
                            ". img-dos cuatro ."

                            ". img-tres cinco ."
                            ". img-tres seis ."

                            ". img-cuatro siete ."
                            ". img-cuatro ocho ."

                            ". img-cinco nueve ."
                            ". img-cinco diez ."

                            ". img-seis once ."
                            ". img-seis doce ."

                            ". img-siete trece ."
                            ". img-siete catorce. "

                            ". referencia referencia ."
                            ". aprender aprender ."

                            "footer footer footer footer";
    }
    
}


/* Contenedor cursos */
.contenedor-dos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
                        "header"

                        "uno"
                        "img-uno"
                        "dos"
                        "tres"

                        "cuatro"
                        "img-dos"
                        "cinco"
                        "seis"

                        "footer";
}

@media (min-width: 768px) {
    .contenedor-dos{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        grid-template-areas: "header header"

                            "uno img-uno"
                            "dos img-uno"
                            "tres img-uno"

                            "cuatro img-dos"
                            "cinco img-dos"
                            "seis img-dos"

                            "footer footer";
    }
}

/* Contenedor productos */
.contenedor-tres{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
                        "header"
                        "aside"
                        "main"
                        "footer";
}

@media (min-width: 768px) {
    .contenedor-tres{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        grid-template-areas: "header header"
                            "aside main"
                            "footer footer";
    }
}

/* Contenedor nosotros */
.contenedor-nosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
                        "titulo"
                        "img-uno"
                        "main"
                        "footer";
}

@media (min-width: 768px) {
    .contenedor-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "header header"
                            "titulo img-uno"
                            "main img-uno"
                            "footer footer";
    }
}

/* Contenedor contacto */
.contenedor-contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
                        "main"
                        "img-uno"
                        "footer";
}

@media (min-width: 768px) {
    .contenedor-contacto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "header header"
                            "main img-uno"
                            "footer footer";
    }
}

/* Div descuento */
.div-pink{
    background-color: var(--pink);
    color: var(--white);
    text-align: center;
    padding: 2rem 0;
}

/* Nav white */
.nav-white{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

    .nav-white-navegacion{
        display: flex;
        gap: 5rem;
    }

/* Nav black */
.nav-black{
    background-color: var(--black);
    font-family: 'Playfair Display', serif;
    text-align: center;
}

@media (min-width: 768px) {
    .nav-black-flex{
        display: flex;
        gap: 5rem;
        padding: 2rem 0;
    }
}

/* Footer */
.footer{
    background-color: var(--black);
    color: var(--white);
    margin-top: 4rem;
    padding: 2rem 0;
}

    .footer p{
        color: var(--white);
    }

    .footer h2{
        padding: 1rem 0;
    }

    .footer-org{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    .footer-img{
        width: 33.4%;
    }

    .footer-lema{
        width: 33.3%;
    }

    .footer-redes{
        width: 33.3%;
    }

        .footer-redes a{
            text-decoration: none;
            padding: 1%;
        }

@media (min-width: 768px) {
    .footer-img{
        width: 10%;
    }

    .footer-lema{
        width: 25%;
    }

    .footer-redes{
        width: 25%;
    }

    .footer-mantener{
        width: 40%;
    }

}

/* Termina nav,header, contenedores y info importante */

/* Inico */
.tendencias h1{
    padding-top: 2rem;
}

.tendencias p{
    padding: 2rem 0;
}

.section-tendencia-img,
.tendencias-imagen{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    align-items: center;
}

.tendencia-imagen{
    width: 50%;
}

.referencia{
    text-align: center;
    padding: 2rem 0;
}

.tendencia-text{
    text-align: center;
    padding: 2rem 0;
}

/* Cursos */
.curso-ofrece{
    width: 100%;
}

.p-curso-info{
    color: var(--pink);
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.curso-info{
    text-align: center;
    width: 100%;
    padding: 2rem 0;
}

.curso-info th,
.curso-info td{
    padding-right: 1%;
}

/* Productos */
.productos-categorias{
    color: var(--pink);
    list-style: none;
}

.productos-flex{
    display: flex;
    flex-wrap: wrap;
}

.producto{
    display: flex;
    width: 50%;
    padding: 2rem 1rem;
}

@media (min-width: 768px) {
    .producto{
        display: flex;
        width: 33.33%;
        padding: 2rem 1rem;
    }
}

.producto-a{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    position: relative;
}

.producto-div-img{
    padding: 0 auto;
    position: relative;
    display: block;
}

.producto-img{
    width: 100%;
}

.nombre-producto{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.div-estrellas{
    display: flex;
    align-items: center;
}

.productos-estrellas{
    display: block;
    height: 1.3rem;
    position: relative;
}

.estrellas{
    display: inline-block;
    background-size: cover;
    width: auto;
    height: 1.3rem;
    margin-right: 1rem;
}

.producto-precio{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
}

.producto-lado{
    display: grid;
    justify-items: start;
    gap: 0.4rem;
    position: absolute;
    top: 0;
    left: 0;
}

.div-corazon{
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: transparent;
}

.lado-boton{
    display: inline-block;
    text-align: center;
    line-height: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: none;
}

.corazon{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    vertical-align: text-bottom;
    fill: currentColor;
    flex-shrink: 0;
}

/* Nosotros */
@media (min-width: 768px) {
    .img-nosotros{
    padding-top: 2rem;
    }
}

/* Contacto */
.form-contacto{
    width: 100%;
}

.contenedor-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-contacto{
    color: var(--black);
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 2px solid var(--black);
}

.input-mitad{
    width: 48%;
}

.input-completo{
    width: 100%;
}

textarea{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 2px solid var(--black);
}

.boton-contacto{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}