// Pagina index
.tendencias{
    h1{
        padding-top: 2rem;;
    }
    p{
        padding: 2rem 0;
    }
}

.section-tendencia-img,
.tendencias-imagen{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    align-items: center;
}

.tendencia-imagen{
  max-width: $w-50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.referencia{
    text-align: center;
    padding: 2rem 0;
}

.tendencia-text{
    text-align: center;
    padding: 2rem 0;
}